$bgGrey: #201F1F;

#header {
	background: $bgGrey;
	color: white;
	padding: 8px;
	margin-bottom: 15px;
}

#header__title {
	font-size: 28px;
	text-transform: lowercase;
}

.button {
	background: rgba(33,150,243,1);
	color: white;
	display: block;
	padding: 8px 0;
	text-align: center;
	width: 120px;
}

.button:hover {
	background: rgba(25,118,210 ,1);
	cursor: pointer;
}

#search {
	padding: 8px;
	padding-bottom: 20px;
}

#search__subtitle {
	padding: 15px 0;
	text-align: center;
}

#searchTextbox {
  border: #CCCCCC solid 1px;
	display: inline-block;
	font-size: 16px;
	padding: 5px;
	width: 100%;
}
