<!DOCTYPE html>
<html>
  <head>

    <link href='css/charts.css' rel='stylesheet' type='text/css'>

    <!--Loads Chart JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>

  </head>
  <body>
    <h1>priceme</h1>
    <canvas id="startPrice" width="1920" height="1080"></canvas>
    <canvas id="buyNowPrice" width="1920" height="1080"></canvas>

    <canvas id="trendGraph" width="1920" height="1080"></canvas>

    <script src="charts.js">
    </script>
    <script>
    $(document).ready(function(){
      $("#buyNowPrice").hide();

    $("#showStartPrice").click(function(){
        $("#buyNowPrice").hide();
        $("#startPrice").show();
    });
    $("#showBuyNowPrice").click(function(){
        $("#buyNowPrice").show();
        $("#startPrice").hide();
    });
});</script>


    <button id="showStartPrice">Show Start Price</button>
    <button id="showBuyNowPrice">Show Buy Now Price</button>
    <p>hi</p>

      </body>


</html>
