<!doctype>
<html>
	<head>
		<meta content='text/html;charset=utf-8' http-equiv='Content-Type'>
    <meta content='utf-8' http-equiv='encoding'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='' />
    <title>PriceMe</title>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

		<link href='styles/base.css' rel='stylesheet' type='text/css'>
		<link href='styles/layout.css' rel='stylesheet' type='text/css'>
		<link href='styles/module.css' rel='stylesheet' type='text/css'>
		<link href='styles/trump.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header id='header' class='wrapper'>
			<h1 id='header__title'>Price<span class='highlight'>Me</span></h1>
		</header>

		<div class='wrapper'>
			<div class='content page'>
				<div id='search'>
					<p id='search__subtitle'>What is the average selling price for...</p>
					<input id='searchTextbox' name='searchTextbox' type='text' placeholder='Search an item'>
				</div>
				<a class='button full'>Search</a>
			</div>
		</div>
	</body>
</html>
