<!DOCTYPE html>
<html>
  <head>
    <title>priceme</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/generic.css">
    <link rel="stylesheet" type="text/css" href="css/elements.css">
    <link rel="stylesheet" type="text/css" href="css/objects.css">
    <link rel="stylesheet" type="text/css" href="css/components.css">
    <link rel="stylesheet" type="text/css" href="css/trumps.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
  </head>

  <body>
    <div id='inputOuter'>
      <div id='header'>
        <h1 id='title'>price<span class='blue'>me</span></h1>
      </div>

      <div id='inputWrap'>
        <p id='tagline'>What is the average selling price for...</p>
        <div id='inputArea'>
          <input id='makeText' placeholder='Brand(e.g. Ford)' type='text' tabindex="1">
          <input id='modelText' placeholder='Model' type='text' tabindex="2">
          <input id='yearText' placeholder='Year Range(eg. 1999-2005)' type='text' tabindex="3">
          <a id='searchButton' class='button' tabindex="4">Search</a>
        </div>
      </div>
    </div>

    <div id='outputOuter'>
      <div id='outputWrap'>
        <div id='windowWrap'>
          <div id='leftWindow' class='window'>
            <p>Results for:</p>
            <p>Ford Focus Trend 2014</p>
            <p id='price' class='blue'>$3,784</p>
          </div>
          <div id='rightWindow' class='window'>
            <canvas id="startPrice" width="1920" height="1080"></canvas>
            <canvas id="buyNowPrice" width="1920" height="1080"></canvas>

            <button id="showStartPrice">Show Start Price</button>
            <button id="showBuyNowPrice">Show Buy Now Price</button>
          </div>


        </div>
        <div id='bottomWindow' class='window'>
          <canvas id="trendGraph" width="1920" height="1080"></canvas>
        </div>
      </div>
    </div>

    <div id="footer">
      <p>Built by <a class='blue' href='https://github.com/justinvos/priceme'>Team4</a></p>
    </div>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    <script src="Main.js"></script>
    <script src="model.js"></script>

    <script src="charts.js">
    </script>
    <script>
      $(document).ready(function(){
        $("#buyNowPrice").hide();

        $("#showStartPrice").click(function(){
            $("#buyNowPrice").hide();
            $("#startPrice").fadeIn(2000);
        });
        $("#showBuyNowPrice").click(function(){
            $("#startPrice").hide();
            $("#buyNowPrice").fadeIn(2000);

        });
      });
    </script>
  </body>
</html>
