<!DOCTYPE html>
<html>



<head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="Main.css">
<title>PriceMe</title>
</head>

<body>
<div id="headerdiv">
</div>


<div class="main">

</div>

<div class="footer">

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="dropdown.js"></script>
<script src="Main.js"></script>
</body>
</html>