/*  =============
    HEADER STYLES
    ============= */

#header {
  position: absolute;
  top: 0;
  left: 0;
	width: 100%;
	background-color: #1E1E1E;
	margin-top: -10px;
	padding-left: 10px;
	padding-right: 10px;
}

#title {
	color: white;
	font-weight: 600;
	margin: 0;
	padding: 15px;
}

/*  =============
    INPUT STYLES
    ============= */


#inputOuter {
  background-image: url('https://static.pexels.com/photos/125514/pexels-photo-125514.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;

  height: 100%;
  padding: 25px;
}

#inputWrap {
  background: rgba(30,30,30, 0.6);
  box-sizing: border-box;
  margin: auto;
  margin-top: 50px;
  padding: 5px;
  width: 510px;
}

#tagline {
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding: 25px 0;
  text-align: center;
}

#inputTitle {
  color: white;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

#inputArea {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}

#inputArea * {
  flex-grow: 2;
  margin: 10px 0;
  width: 100%;
}

#searchButton {
  flex-grow: 0;
  text-align: center;
  text-decoration: none;
  margin: 25px 0;
}


#searchButton {
  font-size: 20px;
}

/*  =============
    OUTPUT STYLES
    ============= */


#outputOuter {
  background: #EEEEEE;
  width: 100%;
}

#outputWrap {
  margin: auto;
  padding: 15px;
  width: 1000px;
}

#outputWrap * {
  margin: 10px;
}

#windowWrap {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
}

#leftWindow {
  flex-grow: 1;
  margin-left: 0;
  width: 100px;
}

#priceTitle {
  font-size: 16px;
  padding-top: 12px;
}

#price {
  font-size: 48px;
  text-align: center;
}

#rightWindow {
  flex-grow: 2;
  margin-right: 0;
  width: 200px;
}

#bottomWindow {
  margin: 0;
  padding: 0;
  width: 100%;
}

/*  =============
    Button STYLES
    ============= */

#showStartPrice{
  background-color: #1E1E1E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

#showBuyNowPrice{
  background-color: #56ACB2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

/*  =============
    FOOTER STYLES
    ============= */

#footer {
	background-color: #1E1E1E;
	width: 100%;
}

#footer p {
  color: white;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}
