/*  =============
    HEADER STYLES
    ============= */

#header {
  position: absolute;
  top: 0;
  left: 0;
	width: 100%;
	background-color: #1E1E1E;
	margin-top: -10px;
	padding-left: 10px;
	padding-right: 10px;
}

#title {
	color: white;
	font-weight: 300;
	margin: 0;
	padding: 15px;
}

/*  =============
    INPUT STYLES
    ============= */


#inputOuter {
  background-image: url('https://static.pexels.com/photos/125514/pexels-photo-125514.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;


  height: 100%;
  padding: 25px;
}

#inputWrap {
  background: rgba(30,30,30, 0.6);
  box-sizing: border-box;
  margin: auto;
  margin-top: 120px;
  padding: 30px;
  width: 1000px;
}

#tagline {
  color: white;
  font-size: 32px;
  font-weight: 300;
  padding: 20px 0;
  text-align: center;
}

#inputArea {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#inputArea * {
  flex-grow: 2;
  margin-left: 25px;
}

#searchButton {
  flex-grow: 0;
}

#inputArea *:first-child {
  margin-left: 0;
}

#searchButton {
  font-size: 20px;
}

/*  =============
    OUTPUT STYLES
    ============= */


#outputOuter {
  background: #EEEEEE;
  height: 700px;
  width: 100%;
}

#outputWrap {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 15px;
  width: 1000px;
}

#outputWrap * {
  margin: 10px;
}

#leftWindow {
  flex-grow: 1;
  width: 100px;
}

#price {
  font-size: 48px;
  text-align: center;
}

#rightWindow {
  flex-grow: 2;
  width: 200px;
}


/*  =============
    FOOTER STYLES
    ============= */

#footer {
	background-color: #1E1E1E;
	width: 100%;
}

#footer p {
  color: white;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}
