html, body {
  height: 100%;
}


input {
  border: #DFDFDF solid 2px;
  font-size: 20px;
  padding: 15px;
  width: 150px;
}

p {
  font-size: 22px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

canvas {
  padding: 10px;
}
