
@media (max-width: 1040px) {
	#inputWrap {
		width: 100%;
	}
}

@media (max-width: 840px) {
	#inputWrap {
		margin: auto;
		width: 500px;
	}

	#tagline {
		font-size: 22px;
	}

	#inputArea {
		flex-direction: column;
		width: 100%;
	}

	#inputArea *, #inputArea *:first-child {
		margin-left: 0;
		margin: 10px 0;
		width: 100%;
	}
}


@media (max-width: 540px) {
	#inputOuter {
		padding: 30px 10px;
	}

	#inputWrap {
		padding: 30px 10px;
		width: 100%;
	}

	#inputArea {
		width: 100%;
	}
}
