
@media (max-width: 1040px) {
	#outputWrap {
		width: 100%;
	}
}

@media (max-width: 600px) {
	#windowWrap {
		flex-direction: column;
	}

	#windowWrap * {
		width: 100%;
	}
}


@media (max-width: 540px) {

	#inputOuter {
		padding: 30px 10px;
	}

	#inputWrap {
		width: 100%;
	}

	#inputArea {
		margin: 0 10px;
	}

	#outputWrap {
		width: 100%;
	}
}
